body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 760px;
    /*background: url("img/bg01.jpg");*/
    background: url('../img/bg01.jpg');
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center*/

	
}
.hhImg{

}